@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
	border: 2px solid #555555;
}

body {
	background: #000000;
}

.title {
	font-size: 48px;
	font-weight: 700;
}

.title-1 {
	font-size: 22px;
}

.labels {
	font-size: 19px;
}

.highlight {
	font-weight: 700;
}

.bg-gradient-custom {
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 1) 11%,
		rgba(0, 0, 0, 0) 80%,
		rgba(0, 0, 0, 0) 100%
	);
}

.slick-arrow {
	position: absolute;
	right: 0 !important;
}

@media screen and (max-width: 600px) {
	.title {
		font-size: 30px;
	}

	.title-1 {
		font-size: 16px;
	}

	.labels {
		font-size: 12px;
	}
}
